/*
 Theme Name:   Dazzling Child
 Theme URI:    https://colorlib.com/wp/themes/dazzling/
 Description:  Dazzling Child Theme
 Author:       MJDevelopZ
 Author URI:   http://www.seraphinaknits.com
 Template:     dazzling
 Version:      1.5.1.1
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain: dazzling
 Domain Path: /languages/
 Tags: green, light, white, gray, black, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, responsive-layout, photoblogging, left-sidebar, translation-ready, custom-background, custom-colors, custom-menu, featured-images, full-width-template, post-formats, theme-options, threaded-comments


This theme, like WordPress, is licensed under the GPL.

Dazzling is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

*/

/*Font*/
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);
@import url(http://fonts.googleapis.com/css?family=Raleway);

/*Site Background Color*/
body{
	background-color: #f4f9eb;
}


/*NavBar*/

.site-main [class*="navigation"] a,
.more-link {
  border: 1px solid #d6c0c6;
  padding: 6px 12px;
  border-radius: 4px;
  display: block;
}

.site-main [class*="navigation"] a:hover,
.more-link:hover {
  color: #fff;
  background: #404040;
  text-decoration: none;
}

.navbar.navbar-default {
  background-color: #fff;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: -2px;
  border-bottom: 1px solid #eee;
}

.navbar-default .navbar-nav > li > a {
  color: #9ec295;
  line-height: 30px;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #d6c0c6;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a{
	color: #ebcdce;
	background-color: transparent;
	text-decoration: underline;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #E38F9C;
}

.dropdown-menu > li > a {
  padding: 14px 20px;
  color: #E38F9C;
}

.dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a {
  background-color: #ffedf2;
  color: #fff;
}

.navbar > .container .navbar-brand {
  color: #a36179 ;
  font-size: 35px;
  font-weight: bold;
  margin: 8px 0;
  font-family: 'Clicker Script', cursive;
}

#menu-menu{
	font-family: 'Raleway', sans-serif;
	color: #9ec295; 
	font-weight: bold;
}

.nav-links,
.nav-previous,
.nav-older{
	font-family: 'Raleway', sans-serif;
	color: #565e5a;
}

.site-main [class*=*"navigation"] a, .more-link{
	border: 1px solid #d6c0c6;
}

a{
	color: #565e5a;
}

/*Front Page Enter*/
.frontPageEnter{
	float: right;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #9ec295;
}

/*Footer*/
#colophon{
	background-color: #f4f9eb ;
	border-top: 1px solid #f4f9eb;
}

#footer-area a{
	color: #bf91a2;
	font-weight: bold;
}

.copyright{
	font-family: 'Raleway', sans-serif;
}

.site-info{
	font-size: 14px;
}

footer.entry-meta{
	margin-top: 45px;
}

.fa .fa-desktop{
	margin-right: 6px;
}

p.entry-meta{
	color: #565e5a;
}

.disclaimer{
	font-size: 10px;
	font-style: italic;
}

/*Home Page*/
.entry-title a{
	font-family: 'Clicker Script', cursive;
	font-weight: bold;
	color: #b68194;
}

.entry-meta{
	font-family: 'Raleway', sans-serif;
	color: #d6c0c6;
}

.entry-meta .fa{
	color: #d6c0c6;
}

.page-header{
	border-bottom-color: #d6c0c6; 
}

.entry-content p{
	font-family: 'Raleway', sans-serif;
	color: #565e5a;
}

.btn.btn-default.read-more {
  float: right;
  border: 1px solid #D6C0C6;
  color: #565e5a;
  background-color: transparent;
  margin-top: 10px;
}

.btn.btn-default.read-more:hover {
  color: #FFF;
  background-color: #404040;
}

hr.section-divider {
  border-color: #D6C0C6;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*Sidebar Widget Area*/
.widget-title{
	font-family: 'Clicker Script', cursive;
	margin-top: 20px;
	color: #b68194;
}

#categories-2{
	margin-top: 40px;
}

#search-2{
	margin-top: 40px;
}

#recent-posts-2{
	margin-top: 40px;
}

#tribe-events-list-widget-2{
	margin-top: 40px;
}

.duration /*event widget*/,
.tribe-events-widget-link{
	font-family: 'Raleway', sans-serif;
	color: #565e5a;
}

ul{
	font-family: 'Raleway', sans-serif;
}

#secondary .widget_categories ul li::before{
	color: #b68194;
}

/*Individual Entries*/
h1.entry-title{
	font-family: 'Clicker Script', cursive;
	color: #b68194;
}

/*Comments*/
.comment-reply-title{
	font-family: 'Clicker Script', cursive;
	color: #bf91a2;
	font-weight: bold;
	font-size: 28px;
}

#commentform{
	font-family: 'Raleway', sans-serif;
	color: #565e5a;
}

#submit{
	color: #565e5a;
	background-color: #f4f9eb;
	border-color: #d6c0c6;
}

.comments-title{
	font-family: 'Clicker Script', cursive;
	color: #bf91a2;
	font-weight: bold;
	font-size: 28px;
}

.btn.btn-default,
.comment-reply-link{
	color: #565e5a;
	background-color: transparent;
	border-color: #d6c0c6;
}

/*Search*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #565e5a;
  border: 1px solid #d6c0c6;
  border-radius: 3px;
}

#searchsubmit,
.btn-default.active,
.btn-default.focus,
.btn-default:active, .btn-default:focus,
.btn-default:hover, .opn > .dropdown-toggle.btn-default{
	color: #565e5a;
	background-color: transparent;
	border-color: #d6c0c6;
}

h1.page-title{
	font-family: 'Clicker Script', cursive;
	color: #b68194;
}

.page-title span{
	font-family: 'Raleway', sans-serif;
	color: #565e5a;
}

/*Contact Form*/
.ninja-forms-all-fields-wrap{
	font-family: 'Raleway', sans-serif;
	color: #565e5a;
}

/*404 Page*/
#doTerra-image{
	display:inline-block;
	z-index: 1;
}

.404-page-title{
	clear: both;
	float: right;
	z-index: 2;
	margin-right: 150px;
	font-weight: bold;
	font-size: 48px;
}

.404-page-sub-title{
	z-index: 2;
	font-family: 'Clicker Script', cursive;
	font-size: 36px;
	float: right;
	margin-right: 100px;
	margin-top: -125px;
	color: #b68194;
}

.404-page-content{
	font-family: 'Raleway', sans-serif;
	color: #565e5a;
}

.widgettitle{
	font-family: 'Clicker Script', cursive;
	color: #b68194;
}